<div class="ui grid">
	<div class="column account-wrapper"> 
		<h2 class="ui center aligned header">
		  Create an Account
		</h2>

		<%= render 'form', student: @student %>
	</div>
</div>

<%#= link_to 'Back', students_path %>
