<div id="home">
	<h3 class="ui dividing header page-header">
	  Progress
	</h3>


	<% @requirements.each_with_index do |requirement, index| %>
		<div class="ui olive progress" data-value="4" data-total=<%= requirement.units %> id="req-<%=index%>">
		  <div class="label prog-label"><%= requirement.name %></div>
		  <div class="bar"></div>
		</div>
		<br>
	<% end %>
</div>
