<p id="notice"><%= notice %></p>

<div id="courses" class="courses">

  <h3 class="ui dividing header page-header">
    Courses
  </h3>
  <div id="filters_sidebar">
    <%= render partial: "filter_sidebar", locals: {depts: @depts, dept_name: @dept_name, min_unit: @min_unit, max_unit: @max_unit, req_name: @req_name} %>
  </div>

  <div id="courses_list">
    <%= render partial: "course_list", locals: {courses: @courses} %>
  </div>
  
</div>

<%= will_paginate @courses, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", param_name: "courses" %>