<p id="notice"><%= notice %></p>

<h1>Courses</h1>

  <div class="ui accordion">

    <% @courses.each do |course| %>

        <div class="title">
          <i class="dropdown icon"></i>
          <%= course.name %>
        </div>
        <div class="content">
          <p><%= course.description %></p>
        </div>
      
    <% end %>

  </div>