/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.left-nav {
	width: 15% !important;
	background-color: #404040 !important;
	border: 0 !important;
}

.right-nav {
	width: 15% !important;
	background-color: #E8E8E8 !important;
	border: 0 !important;
}

.right-nav-item {
	padding: 18px;
	text-align: left;
	font-size: 1.15em;
	font-weight: bolder;
	border-bottom: 1px solid white; 
}

.logo {
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;
	padding: 18px 0px;
	background-color: #5ba0e5;
	color: white;
}

.logo a {
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;
	color: white;
	background-color: transparent;
}

.content {
	margin: 2% 18% !important;
}

.user-profile {
	position: absolute !important;
	bottom: 0;
	width: 100%;
	border-radius: 0 !important;
	background-color: #404040 !important;
	color: white;
}

.user-profile:hover {
	cursor: pointer;
	background-color: #282828 !important;
}

.page-header {
	margin-bottom: 25px !important;
}

.nav-item-title {
	color: white;
	line-height: 0.75 !important;
	margin: 0.75em 0em 0.4em !important;
}

.first {
	margin-top: 10% !important;
}

.nav-sub-items {

	a {
		font-family: 'Open Sans', sans-serif;

		&:hover {
			color: white !important;
		}
	}
}

.nav-inactive {
	color: #A8A8A8 !important;
}

.nav-active {
	color: white !important;
	font-weight: bolder;
}

.item:before {
	background: #A8A8A8 !important;
}

.prog-label {
	text-align: left !important;
}

.courses-title {
	line-height: initial !important;
}

.add-course {
	float: right;
}

.course-details {
	margin-left: 20px !important;
	margin-right: 0 !important;
}

.course-actions {
	float: right;
}

.dept-item:hover {
	background-color: transparent;
	font-weight: bolder;
}

