<%= form_with(model: student_section, local: true) do |form| %>
  <% if student_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_section.errors.count, "error") %> prohibited this student_section from being saved:</h2>

      <ul>
      <% student_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
