<p id="notice"><%= notice %></p>

<div id="schedule_plan">

  <h3 class="ui dividing header page-header">
    Semester Schedule Plan
  </h3>

  <div id="wrapper">
    <div id="myScheduler"></div>
  </div>
</div>